*{
    margin: 0;
    padding: 0;
}
html{
  /* overflow-x: hidden; */
}
body{
    background-color: #e3f4fc;
    font-family: "Plus Jakarta Sans", sans-serif;
  /* overflow-x: hidden; */
    height: 100vh;
}

.mortgage-form{
    /* margin: auto; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    border-radius: 15px;
    /* padding: 20px; */
    transform: translate(-50%, -50%);
    width: 50%;
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading .heading-text{
    color: #133040;
    font-weight: 700;
    font-size: 18px;
    font-family: "Plus Jakarta Sans", sans-serif;
}


.clearBtn{
font-size: 13px;
color:  rgba(104, 104, 104, 0.89);
font-weight: 500;
text-decoration: underline;
text-underline-offset: 3px;
text-decoration-thickness: 1px;
text-decoration-color: rgba(104, 104, 104, 0.55);
cursor: pointer;
}

.amount-input-section{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.mortgage-amt{
    color: rgba(104, 104, 104, 0.776);
    font-size: 14px;
    margin: 0px 0 10px;
    font-weight: 600;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.mortgage-input{
    margin-top: 10px;
}

.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #133040;
    border-radius: 5px;
    /* overflow: hidden; */
    font-family: "Plus Jakarta Sans", sans-serif;

  }
  
  .input-prefix {
    background-color: #e6f2ff; /* Background color for the prefix */
    padding: 0.5rem 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 800;
    color: rgba(104, 104, 104, 0.776);
  }
  
  .input-field {
    border: none;
    padding: 0.5rem;
    flex: 1;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
  }
  
  .input-field:focus {
    outline: none;
  }
  
  /* .term-input-prefix{
    background-color: red;
  } */

  .mortgage-type{
    display: flex;
    flex-direction: column;
  }
.type-text{
    color: rgba(104, 104, 104, 0.776);
    font-size: 14px;
    margin: 20px 0 5px;
    font-weight: 600;
}
  .type-checkbox{
    display: flex;
    gap: 20px;
    padding: 10px 13px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #133040;
  position: relative;
  }

  .type-checkbox label{
    color: #133040;
    font-weight: 700;
    font-size: 14px;
  }

  .type-active{
    border: 1px solid hsl(61, 70%, 52%);
    background-color: hsla(61, 70%, 52%, 0.178);

  }

  input[type="radio"] {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    
    cursor: pointer;
    top: 0;
  }

  .custom-radio {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    border-radius: 50%;
    margin: 2px 0;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
  }

  .custom-radio::before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s, background-color 0.3s;
  }

  input[type="radio"]:checked + .custom-radio {
    border-color: #d6db29;
  }

  input[type="radio"]:checked + .custom-radio::before {
    opacity: 1;
    background-color: #d6db29;
  }

  .calculator-btn{
    margin: 20px 0;
    
  }

  .calculator-btn button{
    background-color: #d6db29;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: #133040;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
.left-box{
background-color: #fff;
padding: 20px;
border-radius: 15px;

}
.right-box{
  background-color: #133040;
  padding: 20px;
  border-radius: 0px 20px 20px 60px;
}

.right-text h2{
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
}

.right-text p{
  margin-top: 20px;
  color: #7d9aac;
  font-size: 12px;
  font-weight: 600;
}

.output-box{
  background-color: #092432;
  height: 200px;
  /* border: 1px solid red; */
  margin: 40px 0 0;
  border-radius: 5px;
  border-top: 5px solid #d6db29;
  padding: 0 30px;
}

.monthly{
  margin-top: 20px;
  color: #7d9aac;
  font-size: 12px;
  font-weight: 600;

}

.amount{
color: #d6db29;
font-weight: 600;
margin: 10px 0;
font-size: 43px;
}
.line{
background-color: #bebebe28;
height: 1px ;
width: 100%;
margin: 20px 0;
}
.total-text{
color: #7d9aac;
font-size: 12px;
font-weight: 600;

}
.total-amount{
color: #fff;
margin-top: 10px;
font-weight: 600;
}

/* media queries  */

@media (max-width: 768px) {
  body{
    height: auto;
   
  }
  .mortgage-form{
    width: 100%;
    top: auto;
    left: auto;
    transform: none;
  }
  .right-box{
    border-radius: 0;
  }
  .calculator-btn{
    margin: 20px auto;
  }
}

@media (min-width: 769px) and (max-width: 1150px) {
  .mortgage-form{
    transform: translate(-50%, -50%);
    width: 90%;
  }
}

@media  (max-width: 413px) {
  .mortgage-form{
    top: auto;
    left: auto;
    transform: none;
  }
}